.newSupplier{
    position: relative;
    display: block;
    text-decoration: none;
    text-align: center;
    font-family: verdana;
    font-size: 11px;
    letter-spacing: 2px;
    border-bottom: 1px ;

    background-image: url("../img/button.jpg");
    box-sizing: border-box;
    align-content: center;
    bottom: 10px;
    margin: 1% 0;

    width: 110px;
    max-width: 110px;
    height: 50px;
    border: 1px solid #000;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    padding: 10px 7px;

    border-radius: 8px;
    color: black;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.3s ease-out;
}

.newSupplier:hover, .newSupplier:focus {
    outline: none;
    border-bottom: 2px solid #eee;
}

.newSupplier::before, .newSupplier:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    border: 12px double rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    content: '';
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
    -moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
    transform: translateX(-50%) translateY(-50%) scale(0.2);
}

.newSupplier:after {
    width: 60px;
    height: 60px;
    border-width: 6px;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
    -moz-transform: translateX(-50%) translateY(-50%) scale(0.8);
    transform: translateX(-50%) translateY(-50%) scale(0.8);
}

.newSupplier:hover:before, .newSupplier:hover:after {
    -webkit-animation: pulsate 1.2s infinite;
    -moz-animation: pulsate 1.2s infinite;
    -ms-animation: pulsate 1.2s infinite;
    animation: pulsate 1.2s infinite;
}
