<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div class="container">
    <form class="form-signin" method="post" action="/auth/login">
        <h2 class="form-signin-heading">Please sign in</h2>
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required="" autofocus="">
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>
<!--
<form action="/login" method="get">
    <form action = "<c:url value='/j_spring_security_check' />" method="get">
        <div>
            <input type="text" name="username" placeholder="Enter phone number" />
        </div>
        <div>
            <input type="password" name="password" placeholder="Enter your password" />
        </div>
        <div>
            <input type="submit" value="Log in" />
        </div>
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    </form>

    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <div><input type="submit" value="Sign In"/></div>
</form>
<a href="/registration">Add new user</a>
-->
</body>
</html>